@use '@shared/styles/variables.scss' as *;

.text {
    margin: 0;
    color: inherit;
}


.title {
    font-size: 44px;
    line-height: 48px;
    font-weight: 700;
}

.subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
}

.button {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.p-20 {
    font-size: 20px;
    line-height: 24px;
}

.p-18 {
    font-size: 18px;
    line-height: 22px;
}

.p-16 {
    font-size: 16px;
    line-height: 20px;
}

.p-14 {
    font-size: 14px;
    line-height: 28px;
}


.weight-normal {
    font-weight: 400;
}

.weight-medium {
    font-weight: 500;
}

.weight-bold {
    font-weight: 700;
}


.primary {
    color: ($text-primary);
}

.secondary {
    color: ($text-secondary);
}

.accent {
    color: ($text-accent);
}


.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}