@use '@shared/styles/variables.scss' as *;

.products__item {
    display: flex;
    gap: $space-xl;
    border: 1px solid #518581;

    @include respond(m) {
        flex-direction: column;
        gap: $space-m;
        width: 95%;
    }
}

.image {
    width: 300px;
    height: auto;
    object-fit: contain;

    @include respond(m) {
        width: 100%;
    }
}

.link {
    text-decoration: none;
    color: black;
}

.setQuantity {
    display: flex;
    align-items: center;
    gap: $space-l;

    @include respond(m) {
        gap: $space-s;
    }
}

.productContent {
    display: flex;
    padding: $space-s $space-l;
    flex-direction: column;
    gap: $space-xl;
}

.btn {
    width: 70%;

    @include respond(s) {
        width: 50%;
    }
}

.plus,
.minus {
    width: 64px;
}