@use '@shared/styles/variables.scss' as *;

.cartList {
    display: flex;
    flex-direction: column;
}

.products__list {
    display: flex;
    flex-direction: column;
    gap: $space-xl;
}

.totalPrice {
    text-align: center;
}