@use '@shared/styles/variables.scss' as *;

.productCard {
    display: flex;
    gap: ($space-xl);
    margin-top: ($space-l);
    margin-right: $space-m;

    @include respond(l) {
        flex-direction: column;
        margin: auto;
    }
}

.product__left {
    width: 600px;
    height: 600px;
    background-color: rgba(217, 217, 217, 1);

    @include respond(xl) {
        width: 450px;
        height: 450px;
    }

    @include respond(l) {
        width: 100%;
        height: 300px;
    }
}

.body__text {
    display: flex;
    flex-direction: column;
    gap: ($space-m);
}

.product__body {
    display: flex;
    flex-direction: column;
    gap: ($space-xxl);

    @include respond(xl) {
        gap: $space-l;
    }
}

.body__bottom {
    display: flex;
    flex-direction: column;
    gap: ($space-xl);

    @include respond(xl) {
        gap: $space-m;
    }

    @include respond(l) {
        flex-direction: row;
        gap: $space-xxl;
    }

    @include respond(m) {
        flex-direction: column;
        gap: $space-l;
    }
}

.card__button {
    display: flex;
    gap: ($space-xl);

    @include respond(m) {
        gap: $space-m;
    }
}

.button__addToCart {
    background-color: rgba(217, 217, 217, 0.4);
    width: 120px;
    height: 40px;
}

.button__buy {
    background-color: rgba(217, 217, 217, 0.4);
    width: 120px;
    height: 40px;
}

.price {
    background-color: rgba(217, 217, 217, 0.4);
    width: 70px;
    height: 40px;
}

.title {
    background-color: rgba(217, 217, 217, 0.4);
    width: 500px;
    height: 40px;
}

.subtitle {
    background-color: rgba(217, 217, 217, 0.4);
    width: 150px;
    height: 40px;
}