.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 50px;
    margin-bottom: 100px;
}

.activeIcon {
    cursor: pointer;
}

.pagination__page {
    all: unset;
    cursor: pointer;
    text-align: center;
    width: 38px;
    height: 42px;
}

.active {
    background-color: #518581;
    color: white;
}

.pages__list {
    list-style-type: none;
}

.leftIcon {
    transform: rotate(180deg);
}